<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD PROJECT</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center alert alert-danger">CRUD PROJECT</h2>
    {% block content %}
    <h2>This is base page </h2>
    {% endblock content %}
</div>
<script src="{% static 'enroll/js/jquary.js' %}"> </script>
<script src="{% static 'enroll/js/popper.js' %}"> </script>
<script src="{% static 'enroll/js/bootstrap.min.js' %}"> </script>
</body>
</html>